<!DOCTYPE html>
<html>

<head>
  <title>Uusi pelaaja</title>
</head>

<body>
    <h1>Uusi pelaaja</h1>
  <form action="/create_item" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="name" />
    </p>
    <p>
      Joukkue: <br />
      <input type="text" name="team" />
    </p>
    <p>
      Pelinumero: <br />
      <input type="number" name="player_number" size="5" max="99" min="00" required/>
    </p>
     PPG: <br />
      <input type="number" step="0.1" name="PPG" size="5" />
    </p>
    <p>
      RPG: <br />
      <input type="number" step="0.1" name="RPG" size="5" />
    </p>
    <p>
      APG: <br />
      <input type="number" step="0.1"  name="APG" size="5" />
    </p>
    <p>
      Pelipaikka: <br />
      <select name="position">
        <option value="">(valitse)</option>
        <option value="PG">PG</option>
        <option name="SG">SG</option>
        <option name="SF">SF</option>
        <option name="PF">PF</option>
        <option name="C">C</option>
      </select>
    </p>
    <p>
      Palkinnot: <br />
        <lable><input type="checkbox" name="accolades[]" value="All-star">All-star</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="All-NBA 1st">All-NBA 1st</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="All-NBA 2nd">All-NBA 2nd</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="All-NBA 3rd">All-NBA 3rd</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="All-defensive">All-defensive</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="DPY">DPY</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="MVP">MVP</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="Champion">Champion</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="HOF">HOF</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="MIP">MIP</lable><br>
        <lable><input type="checkbox" name="accolades[]" value="6th man of the year">6th man of the year</lable><br>
    </p>

    <input type="submit" value="Luo pelaaja" />
  </form>
</body>

</html>
