<!DOCTYPE html>
<html>

<head>
  <title>{{ item.name }}</title>
</head>

<body>
    <h1>{{ item.name }}</h1>
    {% if session.user_id == item.user_id %}
  <p>
    <a href= "/edit_item/{{ item.id }}">Muokkaa</a>
    <a href= "/remove_item/{{ item.id }}">Poista</a>
  </p>
  {% endif %}
    <p>
      Joukkue: {{ item.team }}
    </p>
    <p>
      Pelinumero: {{ item.player_number }}
    </p>
    <p>
      Tilastot: {{ item.PPG }} PPG, {{ item.RPG }} RPG, {{ item. APG }} APG
    </p>
     <p>
      Lisääjä: {{ item.username }}
    </p>
    <p>
      <a href="/">Takaisin</a>
    </p>
</body>

</html>
