{% extends "layout.html" %}

{% block title %}{{ item.title}}{% endblock %}

{% block content %}
    <h2>{{ item.name }}</h2>
    {% if session.user_id == item.user_id %}
  <p>
    <a href= "/edit_item/{{ item.id }}">Muokkaa</a>
    <a href= "/remove_item/{{ item.id }}">Poista</a>
  </p>
  {% endif %}
    <p>
      Joukkue: {{ item.team }}
    </p>
    <p>
      Pelinumero: {{ item.player_number }}
    </p>
    <p>
      Tilastot: {{ item.PPG }} PPG, {{ item.RPG }} RPG, {{ item. APG }} APG
    </p>
     <p>
      Lisääjä: <a href="/user/{{item.user_id}}">{{ item.username }}</a>
    </p>
    <p>
      {% if classes %}
      Luokat:
      <ul>
        {% for class in classes %}
        <li>{{ class.title }}: {{ class.value }}</li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}

    <h3>Arviot</h3>
    <ul>
      {% for rating in ratings %}
      <li>{{ rating.rating }}, <a href="/user/{{ rating.user_id }}">{{ rating.username }}</a></li>
      {% endfor %}
    </ul>

    <h3>Uusi arvio</h3>
    {% if session.user_id %}
    <form action="/new_rating" method="post">
      Arvio (1-5): <br />
      <input type="number" name="rating" min="1" max="5" />
      <br />
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <br />
      <input type="submit" value="Lähetä arvio" />
    </form>
    {% else %}
    <P>
      <em>Kirjaudu sisään voidaksesi arvioida pelaajan.</em>
    </p>
    {% endif %}

    <h3>Kommentit:</h3>
    <ul>
      {% for comment in comments %}
      <li>"{{ comment.text }}" (<a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>)</li>
      {% endfor %}
   </ul>

   <h3>Uusi kommentti</h3>
    {% if session.user_id %}
   <form action="/new_comment" method="post">
      Kommentti: <br />
      <textarea name="comment" rows="3" cols="30" placeholder="Kirjoita kommentti..."></textarea>
      <br />
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <br />
      <input type="submit" value="Lähetä kommentti" />
   </form>
   {% else %}
    <P>
      <em>Kirjaudu sisään voidaksesi kommentoida.</em>
    </p>
    {% endif %}

    <p>
      <a href="/">Takaisin</a>
    </p>

    <h3>Pelaajaranking keskiarvo: {{ avg_rating }}</h3>

{% endblock %}
